html{
    height: 100%;
    
}

body{
    background-color: rgb(201, 228, 218);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5px;
    padding-right: 5px;
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

header {
    background-color: #9696ac75;
    color: #000000;
    height: 50px;
    text-align:center;
    font-style: oblique;
}

nav {
    background-color: #ffff00;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    height: 1024px;
    text-align: center;
    margin-top: 60px;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.299);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h1{
    font-size: 25px;
    color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 20px;
    color: #000000;
    padding-left: 250px;
    padding-right: 250px;
}

a{
    color: red;
    font-size: 20px;
    font-family: monospace;
}

nav a {
    text-decoration: none;
    color: blue;
    font-size: 30px;
    font-family: initial;
    padding-left: 50px;
    padding-right: 50px;
}

footer p {
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 20px;
}

.maps {
    padding-bottom: 20px;

}

image {

    padding: auto;
    image-resolution: 200px;
}

/*Calender stylsheet*/
.main {
    width:200px;
    border:1px solid black;
    }
    
    .month {
    background-color:black;
    font:bold 12px verdana;
    color:white;
    }
    
    .daysofweek {
    background-color:gray;
    font:bold 12px verdana;
    color:white;
    }
    
    .days {
    font-size: 12px;
    font-family:verdana;
    color:black;
    background-color: lightyellow;
    padding: 2px;
    }
    
    .days #today{
    font-weight: bold;
    color: red;
    }